.chat-window {
	background-color: rgb(213, 254, 255);
}

.bot {
	text-align: left;
	padding: 5px 30px 5px 10px;
	width: fit-content;
	margin: 5px 0 0;
	background: burlywood;
	border-radius: 5px;
	box-shadow: 0 0 7px #a8a8a8;
	border-bottom: 2px solid #888888;
}

.author {
	text-align: right;
	width: 100% !important;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.author-color {
	position: relative;
	padding: 5px 30px 5px 10px;
	width: fit-content;
	margin-top: 5px;
	background: #084218;
	border-radius: 5px;
	box-shadow: 0 0 7px #a8a8a8;
	border-bottom: 2px solid #888888;
	color: #fdfdfd;
}
.pinned {
	width: 100%;
	/* height: 20px; */
	background-color: burlywood;
	text-align: left;
}

.options {
	display: none;
	position: absolute;
	right: 10px;
	top: 0px;
	cursor: pointer;
}

.author:hover .options {
	display: block;
}
.bot:hover .options {
	display: block;
}

.modal-popup {
	position: absolute;
	padding: 20px;
	background-color: rgb(112, 0, 0);
	border-radius: 10px;
	z-index: 5;
	max-width: 100px;
	max-height: 150px;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
}

.modal-popup div {
	margin: 5px;
	cursor: pointer;
}

.pinned span {
	margin-right: 10px;
	margin-bottom: 10px;
}
