.btm {
    width: 65vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px auto;
}

.btm input {
    padding: 0px 0;
    flex-grow: 1;
    border-radius: 5px;
}

.btn button {
    height: 7vh;
}

.chat-container {
    height: 67vh;
    width: 65vw;
    overflow-y: scroll;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

.header {
    background-color: #080420;
}

.chat-box {
    height: 85vh;
    width: 65vw;
    background-color: #131324;
    ;
}

.chatpage {
    height: 100vh;
    width: 100vw;
    background-color: #131324;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 2px;
    max-height: 85vh;
    max-width: 85vw;
    background-color: #00000076;
    display: flex;
}

.contacts {
    background-color: #080420;
    width: 20vw;
    height: 85vh;

}