h3 {
	/* color: white; */
}

.users {
	display: flex;
	align-items: center;
	padding-right: 30px;
	padding-left: 10px;
}
.userscontainer {
	display: grid;
	background-color: #000b2639;
}

h2 {
	color: white;
	padding: 20px;
	border-bottom: 2px solid #323232;
}

.avatar {
	margin: 10px;
	width: 40px;
	height: 40px;
}
